.contact-nav {
  display: inline-flex;
  margin-left: auto;
}
.contact-nav-link {
  display: flex;
  margin: 0;

  color: $primary-text-color;
  font-weight: $medium-font-weight;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  @include transitionType(color);

  &:hover,
  &:focus,
  & .current {
    color: $accent-color;
  }
}
.contact-nav-item + .contact-nav-item {
  margin-left: 50px;
}
.contact-nav-icon {
  margin-right: 10px;
  display: flex;
  align-items: center;
  fill: currentColor;

  @include transitionType(color);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
